.image{
       width:400px;
       height: 450px;
       border-radius: 5px;
       box-shadow: 5px 9px ;
       transition: .4s;
 }
 .image:hover{
      transition: .5s;
      width:450px;
      height: 500px;
      border-radius: 5px;
      box-shadow: 8px 12px ;
 }
    